.header {
  background-color: $header-background-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 9999;

  .header-logo-container{
    flex: 1;
    text-decoration: none;
    display: flex;
    color: black;
    font-family: Courier, sans-serif;
    font-weight: bold;
    align-items: center;

    .header-logo {
      padding-right: 4px;
      margin-right: 8px;
      border-right: 1px solid black;

      @media (max-width: $mobile-width) {
        display: none;
      }
    }

    .header-title {
      @media (max-width: $mobile-width) {
        font-size: 24px;
        margin-left: 8px;
      }
    }
  }

  .header-section {
    padding: 0 12px;
    height: 80px;
    display: flex;
    align-items: center;
  }

  .container {
    width: 100%;
    max-width: 960px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: 950px) {
    .container {
      flex-direction: column;
      align-items: stretch;
    }
    .header-section {
      padding: 0 24px;
      height: 60px;
    }
    .header-section.buttons {
      margin-left: -15px;
      background-color: #E7D136;

      .daily-quota-container {
        background-color: $header-background-color;
      }
    }
  }

  @media (max-width: $mobile-width) {
    .header-section.buttons {
      display: none;
    }
  }
}
